
.container-fluid{
   padding-right:0;
   padding-left:0;
   margin-right:auto;
   margin-left:auto
}
nav{
  background-color: #000000;
 }
.navbar-header{
  padding-left: 15px;
}
li a{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: #ffffff;
  display: inline-block;
}
li a:hover{
  text-decoration: none;
  color: #228B22;
  border-bottom: 2px solid #228B22;
  transition: all 0.5s ease-in;
  padding-bottom: 5px;
}
.navbar-brand{
  color: #ffffff;
}
.navbar-header a : hover {
  color: #228B22 !important ;
}
.imageBackground{
  background-color: #000000;
}
.imageBackground img{
  opacity: 0.6;
}
.myImage{
  width: 100% !important;
  position: relative;
  text-align: center;
}
.aboutMe{
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px !important;
}
.aboutMe p{
  font-size: 24px;
  margin-top: 10px !important;
}
.portfolioDiv{
  margin-top: 50px !important;
}
.portUnderline {
    width: 20%;
    height: 2px;
    margin-left: 40% !important;
    margin-top: 5px !important;
    border-bottom: 2px solid #228B22;
}
.portfolio {
  text-align: center !important;
}
.portImage{
   width: 100%;
  height: 100%;
}

.firstSetImage{
  margin-top: 50px !important;
}
.secondSetImage{
  margin-top: 30px !important;
}
.contactDiv{
  margin-top: 50px !important;
}
.contUnderline {
    width: 20%;
    height: 2px;
    margin-left: 40% !important;
    margin-top: 5px !important;
    border-bottom: 2px solid #228B22;
}
.contact {
  text-align: center !important;
  margin-top: 50px !important;
}
input{
  border: none !important;
  border-bottom: 1px solid grey !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
.containerForm{
  width: 400px !important; 
  margin-top: 50px !important; 
}
.myForm{
  padding-left: 0 !important;
}
.message{
  color: grey;
}
.button{
  float: right;
  background-color: #228B22;
  color: #ffffff;
  margin-top: 15px;
}
.footer{
  background-color: #000000;
  margin-top: 100px;
}
.footerText{
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.socialMedia{
  width: 50px;
  height: 50px;
}
.socialMediaI{
   width: 20px;
  height: 20px;
}
.socialMediaS{
   width: 30px;
   height: 30px;
}
.footerImg{
  padding-top: 20px;
  padding-left: 10px;
}
.footerImg img{
   margin-right: 20px;
}
 
